<!DOCTYPE html>

<html lang="en" ng-app="noteApp">
<head>
<title>Note Application</title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/lib/localforage.min.js"></script>
<script src="js/lib/ngStorage.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/NoteService.js"></script>
<script src="js/app/NoteController.js"></script>
</head>
<body>
	<center>
		<h1>List Of Notes Available</h1>
	<div ui-view="" autoscroll="false"></div>
	</center>
</body>
</html>


